spring-integration-kafka/src/main/resources/org/springframework/integration/config/xml/spring-integration-kafka-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.springframework.org/schema/integration/kafka"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:tool="http://www.springframework.org/schema/tool"
	xmlns:integration="http://www.springframework.org/schema/integration"
	targetNamespace="http://www.springframework.org/schema/integration/kafka"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xsd:import namespace="http://www.springframework.org/schema/beans" />
	<xsd:import namespace="http://www.springframework.org/schema/tool" />
	<xsd:import namespace="http://www.springframework.org/schema/integration"
		schemaLocation="http://www.springframework.org/schema/integration/spring-integration.xsd" />

	<xsd:annotation>
		<xsd:documentation><![CDATA[
			Defines the configuration elements for the Spring Integration
			Kafka Adapter.
		]]></xsd:documentation>
	</xsd:annotation>

    <xsd:element name="broker">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
                    Defines a Kafka server information.
                ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string" use="required" />
            <xsd:attribute name="zk-connect" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[
                        Indicates the Kafka server URL
                    ]]></xsd:documentation>
                    <xsd:appinfo>
                        <tool:annotation kind="direct">
                            <tool:expected-type type="java.lang.String" />
                        </tool:annotation>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="zk-connection-timeout" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[
                        Indicates the Kafka consumer zkConnectionTimeout value
                    ]]></xsd:documentation>
                    <xsd:appinfo>
                        <tool:annotation kind="direct">
                            <tool:expected-type type="java.lang.Integer" />
                        </tool:annotation>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:attribute>

            <xsd:attribute name="zk-session-timeout" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[
                        Indicates the Kafka consumer group id
                    ]]></xsd:documentation>
                    <xsd:appinfo>
                        <tool:annotation kind="direct">
                            <tool:expected-type type="java.lang.String" />
                        </tool:annotation>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="zk-sync-time" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[
                        Indicates the Kafka consumer group id
                    ]]></xsd:documentation>
                    <xsd:appinfo>
                        <tool:annotation kind="direct">
                            <tool:expected-type type="java.lang.String" />
                        </tool:annotation>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="auto-commit-interval" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[
                        Indicates the Kafka consumer group id
                    ]]></xsd:documentation>
                    <xsd:appinfo>
                        <tool:annotation kind="direct">
                            <tool:expected-type type="java.lang.String" />
                        </tool:annotation>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="producer-context">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
                    Defines a Kafka server information.
                ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string" use="required" />
            <xsd:attribute name="zk-connect" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[
                        Indicates the Kafka server URL
                    ]]></xsd:documentation>
                    <xsd:appinfo>
                        <tool:annotation kind="direct">
                            <tool:expected-type type="java.lang.String" />
                        </tool:annotation>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="broker-list" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[
                        Indicates the Kafka consumer zkConnectionTimeout value
                    ]]></xsd:documentation>
                    <xsd:appinfo>
                        <tool:annotation kind="direct">
                            <tool:expected-type type="java.lang.String" />
                        </tool:annotation>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

	<xsd:element name="inbound-channel-adapter">
		<xsd:annotation>
			<xsd:documentation>
				The definition for the Spring Integration Kafka
				Inbound Channel Adapter.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="integration:poller" minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>
			<xsd:attributeGroup ref="coreKafkaComponentAttributes"/>
			<xsd:attribute name="channel" type="xsd:string">
				<xsd:annotation>
					<xsd:appinfo>
						<tool:annotation kind="ref">
							<tool:expected-type type="org.springframework.integration.core.MessageChannel" />
						</tool:annotation>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="send-timeout" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation><![CDATA[
						Allows you to specify how long this inbound-channel-adapter
						will wait for the message (containing the retrieved entities)
						to be sent successfully to the message channel, before throwing
						an exception.

						Keep in mind that when sending to a DirectChannel, the
						invocation will occur in the sender's thread so the failing
						of the send operation may be caused by other components
						further downstream. By default the Inbound Channel Adapter
						will wait indefinitely. The value is specified in milliseconds.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
            <xsd:attribute name="group-id" use="optional">
                           <xsd:annotation>
                               <xsd:documentation><![CDATA[
                                       Indicates the Kafka consumer group id
                               ]]></xsd:documentation>
                               <xsd:appinfo>
                                   <tool:annotation kind="direct">
                                       <tool:expected-type type="java.lang.String" />
                                   </tool:annotation>
                               </xsd:appinfo>
                           </xsd:annotation>
                       </xsd:attribute>
            <xsd:attribute name="topic" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <tool:annotation kind="ref">
                            <tool:expected-type
                                type="org.springframework.integration.core.MessageChannel" />
                        </tool:annotation>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="streams" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        Number of streams that the inbound channel adapter (kafka consumer) is configured with.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:attributeGroup name="coreKafkaComponentAttributes">
		<xsd:attribute name="id" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>
					Identifies the underlying Spring bean definition, which is an
					instance of either 'EventDrivenConsumer' or 'PollingConsumer',
					depending on whether the component's input channel is a
					'SubscribableChannel' or 'PollableChannel'.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="auto-startup" default="true" use="optional">
			<xsd:annotation>
				<xsd:documentation>
					Flag to indicate that the component should start automatically
					on startup (default true).
				</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:union memberTypes="xsd:boolean xsd:string" />
			</xsd:simpleType>
		</xsd:attribute>
        <xsd:attribute name="kafka-broker-ref" use="required"
                                type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>
                    Kafka Server Bean Name
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="kafka-decoder" use="optional"
                                        type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            Kafka Server Bean Name
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
	</xsd:attributeGroup>

    <xsd:element name="outbound-channel-adapter">
        <xsd:annotation>
            <xsd:documentation>
                Defines kafka outbound channel adapter that
                writes the contents of the
                Message into kafka broker
            </xsd:documentation>
        </xsd:annotation>

        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        Identifies the underlying Spring bean definition, which is an
                        instance of either 'EventDrivenConsumer' or 'PollingConsumer',
                        depending on whether the component's input channel is a
                        'SubscribableChannel' or 'PollableChannel'.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="auto-startup" default="true" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        Flag to indicate that the component should start automatically
                        on startup (default true).
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union memberTypes="xsd:boolean xsd:string" />
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="kafka-producer-context-ref" use="required"
                                    type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        Kafka Server Bean Name
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="kafka-encoder" use="optional"
                                            type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        Kafka Server Bean Name
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="channel" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <tool:annotation kind="ref">
                            <tool:expected-type type="org.springframework.integration.core.MessageChannel" />
                        </tool:annotation>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="topic" type="xsd:string" use="required">
                                    <xsd:annotation>
                                        <xsd:appinfo>
                                            <tool:annotation kind="ref">
                                                <tool:expected-type
                                                    type="org.springframework.integration.core.MessageChannel" />
                                            </tool:annotation>
                                        </xsd:appinfo>
                                    </xsd:annotation>
                     </xsd:attribute>
        </xsd:complexType>

    </xsd:element>

</xsd:schema>
